html, 
body {
    font-family: Arial;
}
.xr-canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
}
.xr-canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
}
body {
    z-index: 1;
}


#description {
    pointer-events: auto;
    font-family: sans-serif;
    padding: 1em;
    background-color:rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position:absolute;
    bottom: 0px;
    left:0px;
    right: 0px;
}
#description > * {
    pointer-events: none;
}


/*button {
    font-size: 16px;
}*/

#go-button { margin: 20px; }

.text-box {
    position: absolute;
    top: 5%;
    left: 50%;
    color: white;
    background: rgba(27,55,55,0.75);;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0px;
    padding: 5px 10px;
    margin: 0px 0 0 -50px;
    font-size: 0.8em;
}

.common-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#hitt {
    position: absolute;
    z-index: 999;
    bottom: 20px;
    left: 20px;
    padding: 12px 10px;
    border-radius: 15px;
    margin: 0 auto;
    display: none;
}

.vert_hor_center {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

.vert_hor_center p {
  position: relative;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vert_hor_center a {
  position: relative;
  top: 35%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#gesturesButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50%;
    -ms-transform: translate(50%, 0%);
    transform: translate(50%, 0%);
    background-color: #6c757d;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    padding: 0;
    width: 40px;
    height: 40px;
}

#gesturesButton i {
    display: block;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
}

#gesturesButton .tooltiptext {
    font-size: 16px;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 0%;
    margin-left: -130px;
    opacity: 0;
    animation-name: disolve;
    animation-duration: 15s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

#gesturesButton .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

@keyframes disolve {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.2;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    90% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

#gesturesPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #e5e5e5;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#closeGesturesPopup {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #e9ecef;
    color: #6c757d;
    font-size: 35px;
    border: none;
    border-radius: 90%;
    cursor: pointer;
    outline: none;
    padding: 0 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.gesturesPopupInfo {
    display: grid;
    grid-template-columns: auto auto;
    width: 285px;
}

.gesturesPopupInfoRow {
    text-align: left;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#scan_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.scan_overlay_content {
    position: relative;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.scan_overlay_content p {
    color: white;
    font-size: 30px;
    margin: 25px auto 10px auto;
}